doctype html 
html 
    head 
        title Home Page 
    body 
        form(action="/students", method="post")
            input(type="text", name="username" placeholder="username")
            input(type="password" name="password" placeholder="password")
            button(type="submit" name="submit") Log in