<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="Simple Note App" />
		<link rel="stylesheet" href="../public/style.css" />
		<title>Note App</title>
	</head>
	<body>
		<header>
			<nav>
				<h1><a href="/">Notes App</a></h1>

				<ul>
					<li><a href="/notes">All Notes</a></li>
					<li><a href="/archive">Archive</a></li>
				</ul>
			</nav>
		</header>

		<main>
			<p>This is very simple note taking app</p>
			<p>You can create notes, delete them, archive notes</p>
			<p>Supports markdown</p>
			<a href="/create-note" class="create-btn">Create note</a>
		</main>
	</body>
</html>
