doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/static/css/style.css')
  title Notepad
nav
  h1
    a(href='/') Note App
  ul
    li
      a(href='/notes') All Notes
    li
      a(href='/archive') Archive
header
  .intro
    p This is very simple note taking app
    p You can create notes, delete them, archive notes
    p Supports markdown
    a(href='notes/create') Create note
